{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.countdown.css' %}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="navbar-brand mr-4" href="{% url 'index' %}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}

        </div>
        {% block aside %}{% endblock %}
    </div>

</main>

{% block javascript %}
    <script type="text/javascript">
        function ajax_get_update() {
            $.get(url, function (results) {
                //get the parts of the result you want to update. Just select the needed parts of the response
                var table = $("ul.list-group", results);
                var span = $("ul.pagination", results);

                //update the ajax_table_result with the return value
                $('#js-archive-ajax').html(table);
                $('.step-links').html(span);
            }, "html");
        }

        //bind the corresponding links in your document to the ajax get function
        $(document).ready(function () {
            $('.step-links #prev').click(function (e) {
                e.preventDefault();
                url = ($('.step-links #prev')[0].href);
                ajax_get_update();
            });
            $('.step-links #next').click(function (e) {
                e.preventDefault();
                url = ($('.step-links #next')[0].href);
                ajax_get_update();

            });
        });

        //since the links are reloaded we have to bind the links again
        //to the actions
        $(document).ajaxStop(function () {
            $('.step-links #prev').click(function (e) {
                e.preventDefault();
                url = ($('.step-links #prev')[0].href);
                ajax_get_update();
            });
            $('.step-links #next').click(function (e) {
                e.preventDefault();
                url = ($('.step-links #next')[0].href);
                ajax_get_update();
            });
        });
    </script>
{% endblock %}
</body>
</html>
