{% extends 'basicapp/base.html' %}
{% block aside %}
    <div class="col-md-8">
        <div class="content-section animated fadeInDown">
            <form method="post">
                {% csrf_token %}
                <div class="resp-image">
                    <img src="{{ user.userprofileinfo.profile_image.url }}" class="rounded-circle account-img animated bounceInDown delay-0.5s">
                </div>
                <div class="media">
                    <img src="{{ user.userprofileinfo.profile_image.url }}" class="rounded-circle account-img animated bounceInDown delay-0.5s">
                    <div class="media-body">
                        <div class="profile text-lg-center animated tada delay-2s">
                            <span class="">Hi dear user <b>{{ user.username }}</b></span>
                            <p class="text-muted">Portfolio: <a href="{{ user.userprofileinfo.portfolio_site }}">{{ user.userprofileinfo.portfolio_site }}</a></p>
                        </div>
                        {% if test %}
                            <p class="text-muted mt-2 border-top">Your Correct Answers: <b>{{ correct_answers }}</b></p>
                            {% if incorrect_answers == 0 %}
                                <p class="text-muted mt-2">You answered correctly: <b>{{ incorrect_answers }}</b><span
                                        class="ml-5"><b><--You are so talented></b></span></p>
                            {% else %}
                                <p class="text-muted mt-2">Wrong answers: <b>{{ incorrect_answers }}</b></p>
                            {% endif %}
                            <h6 class="text-success">Successful tests: {{ success }}{% if  success == 1 %} time {% else %} times{% endif %}</h6>
                            <h6 class="text-danger">You failed: {{ fail }} {% if  fail == 1 %} time {% else %} times{% endif %}</h6>

                            {% if not_finished %}
                                <h6 class="text-danger mt-2 border-top">You have not finished test: <a href="{% url 'test' not_finished.id %}">Link</a></h6>
                            {% endif %}

                        {% else %}
                            <h6 class="text-danger border-top">You did not pass any test</h6>
                        {% endif %}
                        <a href="{% url 'profile_edit' %}" class="btn btn-outline-success mt-5">Edit</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'basicapp/snippet_archive.html' %}
{% endblock %}
