<div class="col-md-4">
    <div class="content-section animated lightSpeedIn delay-1s">
        <h3>Archive Section</h3>
        <p class='text-muted'>You can see your old results.</p>
        <div id="js-archive-ajax">
            <ul class="list-group">
                {% for result in latest %}
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#{{ result.id }}">{{ result.created_at|date:"F j, Y P" }}</button>
                    <li class="collapse" id="{{ result.id }}">
                        {% for res in result.answers.all %}
                            <div class="card card-body custom-body">
                                <small><p>{{ res.question.word }}</p></small>
                                <em class="{% if res.choice != res.question.word %}
                                text-danger{% else %}
                                text-success{% endif %}">{% if res.choice == None %}Not finished{% else %}
                                    {{ res.choice }}{% endif %}</em>
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <ul class="pagination pagination-sm">
            <div class="step-links">
                {% if page_obj.has_previous %}
                    <li class="page_item">
                        <a id="prev" class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                <span class="current_page">{{ paginator.number }}</span>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a id="next" class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>

                {% endif %}
            </div>
        </ul>
    </div>
</div>

