{% extends 'basicapp/base.html' %}
{% csrf_token %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h2>Welcome to the Game</h2>
        <div id="noDays" class=""></div>
        <form action="{% url 'submit_test_session' %}" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="mb-30 col-md-4">
                    <label class="text-muted" for="{{ form.choice.id_for_label }}">Question
                        No{{ forloop.counter }}</label>
                    <select id="{{ form.choice.id_for_label }}" name="{{ form.choice.html_name }}"
                            class="mb-5 custom-select">
                        {% for value, label in form.fields.choice.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    {{ form.id.as_hidden }}
                </div>
            {% endfor %}
            <button type="submit" value="result" name="result" class="btn btn-outline-success mt-5">Submit</button>
            <script>
                $('#noDays').countdown({
                    until: {{ time_for }},
                    format: 'MS',
                    description: 'Hurry up!',
                });
            </script>
        </form>
    </div>
{% endblock %}